# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Environment variables / API keys
.env
.env.*

# Logs
*.log

# Raw datasets
data/raw/*

# Processed datasets
data/processed/*

# Generated integrated datasets
data/integrated/*

# Generated machine-learning-ready datasets
data/model_ready/*